<div id="clock-{{ timezone|lower }}" class="clock-widget {{ timezone|lower }}" data-timezone="{{ timezone|lower }}">
  <div class="timezone-label">{{ timezone }} Time</div>
  <div class="time {{ timezone|lower }}">{{ time }}</div>
</div>
